.form-div {
  max-width: 900px;
  /* padding: 3%; */
  margin: 3em auto;
  color: #2a2c2d;

}

fieldset {
  border: none;
  padding: 0;
}

.form {
  font-family: 'Roboto', sans-serif;
  /* letter-spacing: -0.01rem;  */
  /* width: 400px; */
  font-size: 1rem;
}


label {
  font-family: 'arial', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0;
  margin-left: 0.7rem;
  line-height: 0.7rem;
  font-weight: bold;
}

.title {
  font-family: 'arial', sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
  margin-left: 0.7rem;
  margin-bottom: 0.5rem;
  line-height: 1rem;
  font-weight: bold; 
}

.flt {
  /* float: left; */
}

.clr {
  clear: left;
}

.title:link,
.title:visited
 {
  font-size: 1rem;
  margin-top: 0.4rem;
}

.ip {
  margin-top: 0.6rem;
  margin-left: 0rem;
  margin-bottom: 0rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
  width: 250px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #2a2c2d;
  background-color: transparent;
  caret-color: red;
}

.ip::placeholder {
  color: #EEE;
}

.ip:hover, 
.ip:focus {
  border-bottom: 2px solid #ec4e3e;
  outline: none;
  transition: border-color 0.5s ease 0s;
}

.ip.disabled {
  background-color: #EEE;
  padding: 10px;
  border: none;
}

.ip.disabled:hover,
.ip.disabled:focus {
  border: none;
}

.mgt {
  margin-top: 1rem;
}

.req {
  margin-left: 2%;
  font-size:0.8rem;
  color: #2a2c2d;
  /* color: red; */
}
.sms_note {
  max-width: 400px;
  margin-top: 3%;
  font-size: 0.8rem;
  letter-spacing: -0.01rem; 
}


/* button {
  height: 2rem;
  width: 80px;
  margin-top: 0rem;
  margin-left: 4%;
  background-color: #829DB1; 
  color: #FFF;
  font-size: 0.9rem;
  transition-property: background;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #5d6164;
  background: #e5e5e5;
}

button:hover,
button:focus,
button:active {
  background-color: #336B87;
  outline: none;
  transition: background-color 0.5s ease 0s;
}

button:hover:disabled,
button:focus:disabled,
button:active:disabled {
  background: #e5e5e5;
} */

.btn_black {
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.06rem; 
  display: inline-block;
  vertical-align: middle;
  padding: 0.7rem 30px;
  border-radius: 24px;
  border: 2px solid #2a2c2d;;
  color: #2a2c2d;
  background-color: transparent;
  margin-top: 1rem;
}

.btn_black:disabled {
  cursor: not-allowed;
  pointer-events: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
  border: 2px solid #FFF;;
  background: #FFF;
  opacity: 0.3;

  /* background: transparent; */
  /* background: #e5e5e5; */
}

.btn_black:hover,
.btn_black:focus,
.btn_black:active {
  background-color: #2a2c2d;
  color: #FFF;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.btn_black:hover:disabled,
.btn_black:focus:disabled,
.btn_black:active:disabled {
  color: #000;
  border: 2px solid #FFF;;
  background: #FFF;
  opacity: 0.3;

}


.font_l {
  font-size: 3rem;
  letter-spacing: -0.01rem; 
  /* line-height: 1.23076923; */
  line-height: 1.3;
  font-weight: 300;
  max-width: 700px;
  margin-bottom: 1rem;
}

.font_m {
  font-size: 1.8rem;
  color: #2a2c2d;
  line-height: 2.8rem;;
  font-weight: 300;
  max-width: 760px;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

a.hd:link, 
a.hd:visited {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-left: 1.6rem;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  color: #1f3a93;
}

/* Mobile, grid 640 */
@media only screen and (max-width: 640px) {
  .title {
    margin-left: 0.7rem;
    line-height: 1.5rem;
  }

  .ip {
    margin-left: 0;
  }
  
  .font_l {
    font-size: 2.5rem;
    /* letter-spacing: -0.01rem;  */
    line-height: 1.3;
    font-weight: 300;
    max-width: 700px;
    margin-bottom: 1rem;
  }
  
  .font_m {
    font-size: 1.5rem;
    color: #2a2c2d;
    line-height: 2.8rem;;
    font-weight: 300;
    max-width: 760px;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }
  
} 


